
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.center{
    float:none;
    margin:0px auto;
}
.nopadd{
    padding:0px;
}
body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* header-start */


#logo{
    width: 250px;
    padding: 15px 0px;
    cursor: pointer;
}
#logo_resp{
    display: none;
    cursor: pointer;
}
.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.55);
    border-radius: 0 0 7px 7px;
    border-color: rgba(8, 8, 8, 0.55);
}
.navbar-nav {
    float: right;
    margin: 25px;
}
.header_titles{
    font-size: 25px;
    margin-left: 80px;
    cursor: pointer;
    font-family: 'Letter Gothic Std', sans-serif;
}

/* header-end */


/* scrollbar-start */


body::-webkit-scrollbar {
    width: 7px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(49, 40, 46, 1);
  border-radius: 80px;
  outline: 1px solid slategrey;
}

/* scrollbar-end */

/* main-start */

.wrap {
  margin: 30px auto;
  text-align: center;
}

#test {
  height: 400px;
  margin-top: 165px;
  text-align: center;
  font-family: monospace, sans-serif;
  font-size: 24px;
  white-space: pre-wrap;
}
#service_tittle{
    margin-top: 110px;
    text-align: center;
    font-size: 40px;
    font-family: "Letter Gothic Std", sans-serif;
}
#service_one, #service_two, #service_three{
    margin-top: 100px;
    margin-left: -2900px;

}
.services_titles{
    text-align: center;
    font-size: 22px; 
}
.services_text{
    text-align: justify;
    font-family: "Maiandra GD";
}
.service_imgs{
    width: 180px;
    margin-left: 85px;
    margin-bottom: 20px;
}
#projects_tittle{
    text-align: center;
    font-size: 40px;
    font-family: "Letter Gothic Std", sans-serif;
    margin-bottom: 60px;
}
.projects{
    margin-top: 100px;
    width: 100%;
}
.project{
    width: 25%;
    height:208px;
    float: left;
    background: url('../../images/content/monitor.png');
    background-size: 100% ;
    position: relative;
    margin-left: 6.25%;
    margin-bottom: 30px;
}
.project_img{
    position: absolute;
    left: 5%;
    width: 90%;
    top: 5%;
    height: 144px;
    border: 2px solid black;
    overflow: hidden;
    cursor: pointer;

}
.img{
    width: 100%;
    -webkit-transition: margin-bottom 5s;
    transition: margin-bottom 5s;
    position: absolute;
}
.project_img_name{
    text-align: center;
    position: absolute;
    color: white;
    bottom: 30px;
    left: 0;
    right: 0;
    opacity: 0;
    font-family: "Harrington";
    font-size: 12px;
    letter-spacing: 1px;
    -webkit-transition: 1s;
    transition: 1s;
}
.project_img:hover ~ .project_img_name{
    opacity: 1;
    
}
#team_tittle{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-family: "Letter Gothic Std", sans-serif;
}
.team_side{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    background-color: rgba(0,0,0,0.25);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.team_persons{
    width: 181px;
    height: 290px;
    border-radius: 15px;
    margin-top: 25px; 
    margin-bottom: 25px;   
}
.team_img{
    border-radius: 25px;
    margin-left: -30px;
    width: 173px;
}
.team_persons h4{
    text-align: center;
    margin-top: 210px;
    font-family: monospace, sans-serif;
    margin-bottom: 20px;
}
.team_persons h6{
    text-align: center;
    margin-bottom: 15px;
    font-family: monospace, sans-serif;
}



/* responsve team start */

/*tablet*/
#slider1{
    width: 750px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    background-color: rgba(0,0,0,0.25);
    margin: 50px auto;
    overflow: hidden;
    display: none;
}
#polosa1{
    width: 1700px;
    position: relative;
    left: 0;
    transition: all ease 1s;
    display: flex;
    justify-content: space-between;
}
#polosa1 img {
    width: 225px;
    border-radius: 15px;
}
#polosa1::after{
    content: '';
    display: block;
    clear: both;
}
.slide1 h4{
    text-align: center;
    margin-top: 40px;
    font-family: monospace, sans-serif;
    margin-bottom: 20px;
}
.slide1 h6{
    text-align: center;
    margin-bottom: 15px;
    font-family: monospace, sans-serif;
}



/* phone */
#slider{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    background-color: rgba(0,0,0,0.25);
    margin: 50px auto;
    overflow: hidden;
    display: none;
}
#polosa{
    width: 1700px;
    position: relative;
    left: 0;
    transition: all ease 1s;
    display: flex;
    justify-content: space-between;
}
#polosa img {
    width: 300px;
    height: 350px;
    border-radius: 15px;
}
#polosa::after{
    content: '';
    display: block;
    clear: both;
}
.slide h4{
    text-align: center;
    margin-top: 40px;
    font-family: monospace, sans-serif;
    margin-bottom: 20px;
}
.slide h6{
    text-align: center;
    margin-bottom: 15px;
    font-family: monospace, sans-serif;
}

/* responsive team end */
#contact_tittle{
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-family: "Letter Gothic Std", sans-serif;
}

.scroll_one{
    margin-top: 100px;
    margin-bottom: 100px;
}
.scroll_two{
    margin-top: 600px;
}

/* main end */


/* footer start*/
.footer{
    background: black;
    margin-top: 100px;
}
iframe{
   
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 37px 1px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 37px 1px rgba(255,255,255,1);
box-shadow: 0px 0px 37px 1px rgba(255,255,255,1);
}
.footer h3{
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Letter Gothic Std", sans-serif;
}
.contact_icon i{
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    font-size: 29px;
}
.contact_input{
    resize: none;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    border-bottom:1px solid #9e9e9e;
    background-color: transparent;
    color:white;
    outline: none;
    position: relative;
    z-index: 1000;
}
.contact_place{
    font-size: 19px;
    color:white;
    position: absolute;
    left: 70px;
    top: 36px;
    -webkit-transition:  top 0.2s,left 0.2s ,font-size 0.2s;
    transition:  top 0.2s,left 0.2s ,font-size 0.2s;
}
.mob_center{
    margin-top: 40px;
}
.textarea{
    margin-top: 50px;
}
.contact{
    position: relative;
    padding-top: 25px;
}
.load{
    display:none;
}
.effetText{
    left:15px;
    top:10px;
    font-size: 13px;
}
.send_butt{
    margin-top:40px;
    text-align: right;
}
.send_butt span{
    font-size: 22px;
    background-color: #7290c8;
    color: white;
    padding: 7px 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 15px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.send_butt span:hover{
    background-color: #93a8d1;
}
.scroll::-webkit-scrollbar {
    width:4px;
    height:10px;
    background:#000;
}

.scroll::-webkit-scrollbar-track-piece  {
    background-color: #9e9e9e;
}

.scroll::-webkit-scrollbar-thumb {
    width: 4px;
    background:#7290c8;
}
.location{
    margin-bottom: 35px;
}
.social{
    display: flex;
    justify-content: space-between;
}
.social_fb, .social_linked, .social_skype, .social_call{
    border: 2px solid silver;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.fa-facebook-f{
    font-size: 20px;
    margin: 13px 17px;
    color: darkgray;  
    transition: 0.5s;
}
.social_fb:hover{
    border: 2px solid #4267b2;
}
.social_fb:hover .fa-facebook-f{
      color: #4267b2;
}
.fa-linkedin-in{
    font-size: 20px;
    margin: 13px 15px;
    color: darkgray;
    transition: 0.5s;
}
.social_linked:hover{
    border: 2px solid #0077B5;
}
.social_linked:hover .fa-linkedin-in{
    color: #0077B5;
}
.fa-skype{
    font-size: 20px;
    margin: 13px 14px;
    color: darkgray;
    transition: 0.5s;
}
.social_skype:hover{
    border: 2px solid #00aff0;
}
.social_skype:hover .fa-skype{
    color: #00aff0;
}
.fa-phone-volume{
    font-size: 20px;
    margin: 13px 16px;
    color: darkgray;
    transition: 0.5s;
}
.social_call:hover{
    border: 2px solid #50ac02;
}
.social_call:hover .fa-phone-volume{
    color: #50ac02;
}
.footer h6{
    text-align: center;
    margin-bottom: 10px;
    color: #99a29b;
    user-select: none;    
}
/* footer end*/


/* responsive start */
.mail_success{
    width: 310px;
    border: 3px solid white;
    background-color: rgba(14, 2, 37, 0.8);
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: fixed;
    top: -200px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    z-index: 100000;
    padding: 15px 15px;
    line-height: 32px;
    word-spacing: 2px;
    transition: 0.4s;
}
@media screen and (max-width: 2560px) {
    .container{
        width: 2000px;
    }
    #logo {
        width: 460px;
        padding: 45px 0px;
    }
    .navbar-nav {
        margin: 55px;
    }
    .header_titles {
        font-size: 45px;
    }
    #test {
        height: 940px;
        margin-top: 450px;
        font-size: 45px;
    }
    #service_tittle {
        margin-top: 285px;
        font-size: 70px;
    }
    .service_imgs {
        width: 300px;
        margin-left: 160px;
    }
    .services_titles {
        font-size: 35px;
    }
    .services_text {
        font-size: 25px;
    }
    .scroll_two {
        margin-top: 1230px;
        margin-bottom: 100px;
    }
    #projects_tittle {
        font-size: 70px;
    }
    .project {
        height: 370px;
    }
    .project_img {
        height: 237px;
    }
    .project_img_name {
        bottom: 60px;
        font-size: 25px;
    }
    #team_tittle {
        margin-top: 235px;
        font-size: 70px;
        margin-bottom: 130px;
    }
    .team_side{
        margin-bottom: 100px;
    }
    .team_persons {
        width: 285px;
        height: 420px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .team_img {
        width: 283px;
    }
    .team_persons h4 {
        font-size: 30px;
        margin-top: 330px;
        margin-bottom: 35px;
    }
    .team_persons h6 {
        font-size: 19px;
    }
    .footer h3{
        font-size: 60px;
    }
}
@media screen and (max-width: 1920px) {
    .container{
        width: 1170px;
    }
    #logo {
        width: 250px;
        padding: 15px 0px;
    }
    .navbar-nav {
        margin: 15px;
    }
    .header_titles {
        font-size: 25px;
    }
    #test {
        height: 400px;
        margin-top: 165px;
        font-size: 24px;
    }
    #service_tittle {
        margin-top: 30px;
        font-size: 40px;
    }
    .service_imgs {
        width: 180px;
        margin-left:85px;
    }
    .services_titles {
        font-size: 22px;
    }
    .services_text {
        font-size: 15px;
    }
    .scroll_two {
        margin-top: 600px;
    }
    #projects_tittle {
        font-size: 40px;
    }
    .projects{
        margin-top: 0px;
        width: 100%;
    }
    .project {
        height: 208px;
    }
    .project_img {
        height: 144px;
    }
    .project_img_name {
        bottom: 30px;
        font-size: 12px;
    }
    .team_persons{
        width: 181px;
        height: 290px;
        margin-top: 25px; 
        margin-bottom: 25px;   
    }
    .team_img{
        width: 173px;
    }
    .team_persons h4{
        font-size: 18px;
        margin-top: 210px;
        margin-bottom: 20px;
    }
    .team_persons h6{
        font-size: 13px;
    }
    #team_tittle {
        margin-top: 100px;
        font-size: 40px;
        margin-bottom: 50px;
    }
    .footer h3{
        font-size: 24px;
    }
    .scroll_one, .scroll_two, .scroll_three{
        border: 1px solid transparent;
    }   
}
@media screen and (max-width: 1190px) {
    .container{
        width: 1070px;
    }
    #logo{
        padding:9px 0;
    }
    .scroll_one {
        margin-top: -50px;
    }
    .service_imgs {
        width: 140px;
    }
    .services_titles {
        font-size: 18px;
    }
    .services_text {
        font-size: 12px;
    }
    .scroll_two {
        margin-top: 475px;
    }
    .project {
        height: 190px;
    }
    .project_img {
        height: 125px;
    }
    .project_img_name {
        bottom: 25px;
    }
    .team_persons {
        width: 155px;
    }   
    .team_img {
        width: 153px;
    }
    .team_persons h4 {
        font-size: 14px;
        margin-top: 190px;
    }
}
@media screen and (max-width: 1080px) {
    .container{
        width: 920px;
    }
    #logo {
        width: 215px;
    }
    .navbar-nav {
        margin: 20px;
    }
    .header_titles {
        font-size: 20px;
        margin-left: 50px;
    }
    .service_imgs {
        margin-left: 60px;
    }
    .services_titles {
        font-size: 17px;
    }
    .project {
        height: 160px;
    }
    .project_img {
        height: 106px;
    }
    .project_img_name {
        bottom: 18px;
    }
    .team_side{
        width: 845px;
    }
    .team_img {
        width: 120px;
        margin-left: -15px;
    }   
    .team_persons h4 {
        margin-top: 30px;
    }
    .team_persons h6 {
        font-size: 11px;
    }
    .textarea {
        margin-top: 20px;
    }
    .send_butt span {
        margin-top: 0px;
    }
    .send_butt {
        text-align: center;
    }
    .footer h6{
        padding-bottom: 15px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 992px) {
    .container{
        width: 830px;
    }
    .project{
        width: 208px;
        height: 155px;
    }
    .project_img{
        height: 103px;
    }
    .scroll_three{
        margin-top: 0;
    }
     .team_side{
        display: none;
    }
    #slider1{
        display: block;
        width: 620px;
    }
    #polosa1 img{
        width: 160px;
    }
    .slide1{
        width: 162px;
    }
    #polosa1{
        width: 1150px;
    }
}
@media screen and (max-width: 838px) {
    .container{
        width: 740px;
    }
    #logo {
        width: 190px;
    }
    .header_titles {
    font-size: 18px;
    margin-left: 35px;
    }
    .project {
        width: 165px;
        height: 123px;
    }
    .project_img {
        height: 81px;
    }
    .project_img_name {
        bottom: 10px;
        font-size: 9px;
    }
}

@media screen and (max-width: 800px) {
    #service_one, #service_two, #service_three{
        margin:auto;
    }
    .service_imgs{
        width: 140px;
    }
    .services_tittles{
        font-size: 20px;
    }
    .services_text{
        font-size: 9px;
    }
    .scroll_two{
        margin-top: 720px;
    }
    .scroll_three{
        margin-top: 0;
    }
}
@media screen and (max-width: 768px) {
    .container{
        width: 700px;
    }
    .contact_place{
        top:82px;
    }
    .contact_icon i {
        margin-top: 49px;
    }
    p.contact_place._effectContact_.effetText{
        margin-top: -30px;
    }
    #service_one, #service_two, #service_three{
        width: 100%;
        margin-top: 40px;
    }
    .service_imgs {
        margin-left: 40%;
    }
    .services_titles {
        font-size: 22px;
    }
    .services_text {
        font-size: 14px;
    }
    .scroll_two {
        margin-top: 1030px;
    }
    .send_butt span {
        margin-top: 60px;
    }
}
@media screen and (max-width: 700px) {
  
}
@media screen and (max-width: 672px) {
  
}
@media screen and (max-width: 600px) {
  
}
@media screen and (max-width: 523px) {
  
}
@media screen and (max-width: 460px) {
    .container{
        width: 370px;
    }
    #logo {
        width: 170px;
        padding: 9px 0px;
    }
    .navbar-nav{
        margin-right: 210px;
        margin-bottom: 16px;
    }
    .header_titles {
        font-size: 30px;
    }
    #test {
        height: 200px;
        margin-top: 85px;
        font-size: 13px;
    }
    #service_tittle {
        margin-top: 10px;
        font-size: 25px;
    }
    .service_imgs {
        width: 150px;
        margin-left: 80px;
    }
    .services_titles {
        font-size: 18px;
    }
    .services_text {
        font-size: 11px;
    }
    #projects_tittle {
        font-size: 25px;
    }
    .scroll_two {
        margin-top: 1320px;
        margin-bottom: 80px;
    }
    .project {
        width: 41%;
        height: 96px;
    }
    .project_img {
        height: 63px;
    }
    #team_tittle {
        margin-top: 100px;
        font-size: 25px;
        margin-bottom: 40px;
    }
    .team_persons h4 {
        margin-top: 20px;
    }
    #slider1{
        display: none;
    }
    #slider{
        display: block;
    }
    .slide h5{
        text-align: center;
    }
}
@media screen and (max-width: 320px) {
    .container {
        width: 100%;
    } 
    #logo{
        margin-left: 30px;
    }
    .scroll_two{
        margin-top: 1020px;
    }
    #team_side {
        display: none;
    }
    .project {
        width: 41%;
        height: 81px;
    }
    .project_img {
        height: 62px;
    }
}
/* responsive end */